* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(235, 235, 235);
  min-height: 85vh;
}

.editSymbol {
  display: flex;
  justify-content: space-between;
}

.editSymbol i {
  font-size: 3rem;
}

.editSymbol i:hover {
  transform: scale(0.93);
  cursor: pointer;
}

p {
  font-size: 1.2rem;
}

.App li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  flex-basis: 38rem;
  background-color: white;
  border-radius: 1rem;
  gap: 0.3rem;
  height: 50rem;
}

li:hover {
  cursor: pointer;
  transform: scale(1.009);
}

.price,
.rating {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
.price {
  font-size: 1.8rem;
}
.navbar {
  margin-bottom: 0;
}
ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

img {
  width: 70%;
  height: 50%;
  object-fit: contain;
  align-self: center;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(41, 41, 95);
  padding: 2rem;
}

footer li {
  text-decoration: none;
  color: white;
}
footer ul {
  display: flex;
  gap: 1rem;
}
.support {
  display: flex;
}
.support li {
  list-style-type: none;
}
.error-message {
  text-align: center;
}
form {
  margin-top: 2rem;
}
/* loader */
.lds-dual-ring {
  display: flex;
  justify-content: center;
  align-self: center;
}
.lds-dual-ring:after {
  content: " ";
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #fff;
  border-color: rgb(151, 20, 20) transparent rgb(54, 170, 190) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
